@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ensure the app takes full screen */
html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
}

/* Remove React Flow's default square selection box */
.react-flow__node:focus,
.react-flow__node:focus-visible,
.react-flow__node.selected {
  outline: none !important;
  box-shadow: none !important;
}